doctype html
html
  head
    title nekobato.net
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="nekobato no homepage")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css",
      rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css",
      rel="stylesheet")
    link(href="./style.css",
      rel="stylesheet")
      
  body.center
    header
      h1 nekobato.net

    main
      section.type-profile(id="profile")
        div.row.type-my-panel
          div.panel
            span.panel-title 猫鳩
            span.panel-subtitle nekobato
            div.panel-action
              a.action-button(href="http://nekobato.hatenablog.com")
                i.fa.fa-rss
                span blog
              a.action-button(href="https://twitter.com/nekobato")
                i.fa.fa-twitter
                span twitter
              a.action-button(href="https://github.com/nekobato")
                i.fa.fa-github
                span github
              a.action-button(href="mailto:nekobato@gmail.com")
                i.fa.fa-envelope
                span email
            div.my-exhibit-panel
              img(src="./img/nekobato.png")
                
      section.container.type-portfolio(id="portfolio")
        
        mixin portfolio(image)
          div.row
            div.exhibit-panel
              img(src=image)
            block

        +portfolio('./img/polidium.png')
          div.panel
            span.panel-title Polidium
            span.panel-subtitle 半透明動画プレイヤー
            div.panel-action
              a.action-button(href="https://github.com/nekobato/Polidium")
                i.fa.fa-github
                span github
        +portfolio('./img/davneko.png')
          div.panel
            span.panel-title Davneko
            span.panel-subtitle webdav音楽プレイヤー
            div.panel-action
              a.action-button(href="https://github.com/nekobato/Davneko")
                i.fa.fa-github
                span github
        +portfolio('./img/endnanonna.gif')
          div.panel
            span.panel-title Endnanonna
            span.panel-subtitle GIFタイトルジェネレーター
            div.panel-action
              a.action-button(href="http://endnanonna.nekobato.net/")
                i.fa.fa-link
                span website
        +portfolio('./img/gyazzac.png')
          div.panel
            span.panel-title GyazzA(C)
            span.panel-subtitle Gyazzからスライドを生成する
            div.panel-action
              a.action-button(href="https://github.com/nekobato/GyazzAC")
                i.fa.fa-github
                span github

    footer
      p.copyright © 2009-2016 nekobato.net, All rights reserved.
      
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55009135-1', 'auto');
      ga('require', 'linkid');
      ga('send', 'pageview');
