doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title nekobato.net
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
  link(rel='stylesheet', type='text/css', media='screen', href='style.css')
  script(src='https://cdn.jsdelivr.net/npm/vue', defer)
  script(type='module', src='script.js', defer)
header
  h1 nekobato.net
  section.profile
    figure
      img(src='./images/nekobato.png')
    span.handle= profile.handle
    span.realname= profile.realname
    span.timezone= profile.timezone
    ul.link-list
      each link in profile.links
        li
          a(href=link.url)
            span(class=link.icon)
main
  section.apps
    h1 Applications / Interfaces
    div.section-content
      each app in apps
        div.app-detail
          a(href=app.url)
            span.name= app.name
            span.description= app.text
  section.education
    h1 Education
    div.section-content
      ul.education-list
        each edu in education
          li
            span.from-to #{edu.from} - #{edu.to}
            span.name= edu.name
  section.experience
    h1 Experience
    div.section-content
      ul.experience-list
        each ex in experience
          li
            span.from-to #{ex.from} - #{ex.to}
            span.name= ex.name
footer
  small 2009 - 2018 (C) nekobato.net
